body{

    background-image: url("pexels-johannes-plenio-1103970.jpg");
    }
    
    hr {
    
    border-style: none;
    border-top-style: dotted ;
    border-color: gray;
    border-width: 4px;
    width: 5%;
    }
    
    img {
    height: 300;
    shape-outside: circle(100%);
    clip-path: circle(10rem at 12rem 8rem);
        

}
    
      


    h1{
        color: blueviolet;
    }

    h2{
        color:  wheat;
    }
    h3{
        color:  gainsboro;
    }
    h4{
        color:  gainsboro;
    }

    h2{

        text-decoration: underline;
    }